<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <app-todo-add></app-todo-add>
  </header>

  <!-- TODO: Jasmine => hidden by default. shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" />
    <label for="toggle-all">Mark all as complete</label>
    <app-todo-list></app-todo-list>
  </section>

  <!-- TODO: Jasmine => hidden by default. shown when there are todos -->
  <app-todo-footer></app-todo-footer>
</section>
