<section class="todoapp">
  <header class="header">
    <h1>TODO</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus />
  </header>

  <!-- TODO: Jasmine => This section should be hidden by default and shown when there are todos -->
  <section class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- TODO: Jasmine => List items should get the class `editing` when editing and `completed` when marked as completed -->
      <li class="completed">
        <div class="view">
          <input class="toggle" type="checkbox" checked />
          <label>Taste JavaScript</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Create a TodoMVC template" />
      </li>
      <li>
        <div class="view">
          <input class="toggle" type="checkbox" />
          <label>Buy a unicorn</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Rule the web" />
      </li>
    </ul>
  </section>

  <!-- TODO: Jasmine => This footer should be hidden by default and shown when there are todos -->
  <footer class="footer">
    <!-- TODO: Jasmine => This should be `0 items left` by default -->
    <span class="todo-count"><strong>0</strong> item left</span>
    <!-- TODO: Decide it later => Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <!-- TODO: Jasmine => Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
  </footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>

  <!-- Change this out with your name and url ↓ -->
  <p>
    Created by
    <a
      href="https://www.linkedin.com/in/isaac-bejarano"
      target="_blank"
      nofollow
    >
      Isaac Bejarano
    </a>
  </p>
  <p>
    Part of <a href="http://todomvc.com" target="_blank" nofollow>TodoMVC</a>
  </p>
</footer>

<!-- <router-outlet></router-outlet> -->
